.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #00adb5;
}

.navbar h1 {
  font-size: 1.5rem;
  color: #00adb5;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  font-size: 1rem;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #00adb5;
}
